.Header{
  border-bottom:2px solid lightgray;
  box-sizing: border-box;
}
.Header, .Header .menu{
  display:flex;
  justify-content: space-between;
}

.Header .menu{
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width:50%;
  /*border:1px solid red;*/
}
.Header .name{
  width:50%;
  padding:1.2%;
  text-align: left;
}

.Header .menu-item{
  margin:5px;
  padding:5px;
}

.Header .menu-item, .Header .name{

  /* border:1px solid blue; */
}
